// Colors
$primary-color : #92c4dd;
$secondry-color: #1b384a;
$text-color: #232323;

// Fonts
$fontMain:  'GeneralSans';



// Breakpoints
$breakout1200 : 1200px;
$breakout1024 : 1024px;
$breakout991 : 991px;
$breakout767 : 767px;
$breakout576 : 576px;