.theme-btn{
  background: $secondry-color;
    box-shadow: 0 8px 10px 0 rgb(27 56 74 / 52%);
    border-radius: 400px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 135%;
    max-width: 330px;
    padding: 14px 35px;
    text-align: center;
    width: 100%;
}

.section-heading{
    color: $secondry-color;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    span{
      color: $primary-color;
    }
}
.section-paragraph{
  color: $text-color;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
    margin: 0;
    span{
      background: #92c4dd7a;
    }
    a{
      font-size: 18px;
      font-weight: 500;
      text-decoration: underline;
    }
}